<section class="slider" style="background-image: url('{{ .background_image }}')">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-9 col-md-10 text-center">
				<div class="block">
					<h1 class="animated fadeInUp mb-5">{{ .heading | markdownify }}</h1>
					<span class="d-block mb-3 text-white text-capitalize">{{ .postheading }}</span>
					{{ with .link_main }}
					<a href="{{ .url }}"  class="btn btn-main animated fadeInUp btn-round-full" aria-label="Get started">{{ .text }}<i class="btn-icon fa fa-angle-right ml-2"></i></a>
					{{ end }}
					{{ with .link_secondary }}
					<a href="{{ .url }}"  class="btn btn-secondary animated fadeInUp btn-round-full" aria-label="Get started">{{ .text }}<i class="btn-icon fa fa-angle-right ml-2"></i></a>
					{{ end }}
				</div>
			</div>
		</div>
	</div>
</section>